header {
    height: 100px;
    background-color: #13293d;
}

.header-left {
    float: left
}

.logo {
    width: 75px;
    height: 75px;
    margin-left: 20px;
    margin-top: 12.5px;
}

.header-right {
    float: right;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
    background-color: #13293d;
    list-style: none;
    float: right;
    padding: 25px 10px;
    margin-right: 25px;
    color: white;
}

.main-wrapper {
    background-image: url(../tugas/image/cookiemons.jpg);
    background-size: cover;
    padding: 600px 0 100px 0;
    color: white;
}

h1 {
    margin-top: 1px;
    text-align: center;
    font-size: 75px;
}